.calculator{
    height: 500px;
    width: 250px;
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px 70px;
    border: px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, , alpha)
















.buttons > button {
    padding: 18px;
    font-size: 1.2em;
    background-color: yellowgreen;
    border:  1px solid #ccc;
    border-radius:  15px;
    cursor: pointer;
    margin-bottom: 20px;
    gap: 10px;

}
.buttons > :hover{
    background-color: #ccc;
}
button:hover{
    background-color: yellowgreen;
}