.calculator{
    height: 500px;
    width: 250px;
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px 70px;
    border: px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input[type="text"]{
    padding: 10px 15px;
    width: calc(100% - 10px);
    margin-bottom: 40px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
}
.button-sec{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: ;
}
















.buttons > button {
    padding: 18px;
    font-size: 1.2em;
    background-color: yellowgreen;
    border:  1px solid #ccc;
    border-radius:  15px;
    cursor: pointer;
    margin-bottom: 20px;
    gap: 10px;

}
.buttons > :hover{
    background-color: #ccc;
}
button:hover{
    background-color: yellowgreen;
}